<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <i class="material-icons">post_add</i>
        Cadastros
      </a>
      <a mat-list-item>
        <i class="material-icons">query_stats</i>
        Consultas e relatórios
      </a>
      <a mat-list-item>
        <i class="material-icons">format_list_bulleted</i>
        Movimentações
      </a>
      <a mat-list-item>
        <i class="material-icons">settings</i>
        Configurações
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
